<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance - Lista de movimientos</title>
  <link rel="stylesheet" href="static/css/flat-remix.css">
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <header>Balance de movimientos</header>

  <nav class="navbar">
    <a>Inicio</a>
    |
    <a href="/nuevo">Nuevo</a>
  </nav>

  <main class="main">

    {% block contenido%}
    {% endblock contenido %}

  </main>

  <footer class="footer">KeepCoding Bootcamp Cero XXII. Octubre-Noviembre 2024.</footer>
</body>

</html>