<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance - Lista de movimientos</title>
</head>

<body>
  <header>Balance de movimientos</header>

  <nav>Inicio | Nuevo</nav>

  <main>
    <table>
      <tr>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Tipo</th>
        <th>Cantidad</th>
      </tr>
      <tr>
        <td>11/11/2024</td>
        <td>Libro de programación en Python</td>
        <td>G</td>
        <td>39.95</td>
      </tr>
    </table>
  </main>

  <footer>KeepCoding Bootcamp Cero XXII. Noviembre 2024.</footer>
</body>

</html>