<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance - Lista de movimientos</title>
  <link rel="stylesheet" href="static/css/flat-remix.css">
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <header>Balance de movimientos</header>

  <nav class="navbar">
    <a>Inicio</a>
    |
    <a href="/nuevo">Nuevo</a>
  </nav>

  <main class="main">

    <h1>Lista de movimientos</h1>

    <table class="paper tabla">

      <tr class="fila">
        <th class="cabecera fecha">Fecha</th>
        <th class="cabecera">Concepto</th>
        <th class="cabecera">Tipo</th>
        <th class="cabecera">Cantidad</th>
      </tr>

      {% for m in movs %}
      <tr class="fila">
        <td class="dato">{{ m.fecha }}</td>
        <td class="dato">{{ m.concepto }}</td>
        <td class="dato">{{ m.ingreso_gasto }}</td>
        <td class="dato">{{ m.cantidad }}</td>
      </tr>
      {% endfor %}

    </table>
  </main>

  <footer class="footer">KeepCoding Bootcamp Cero XXII. Noviembre 2024.</footer>
</body>

</html>